
body {
  background-color: blue;
  margin: 3%;
}

h1 {
  border: 5px;
}

p {
  width: 25%;
  background-color: yellow;
  padding: 10px;
  border: 3px;
  border-radius: 25px;
}
figure {
  padding: 10px;
}
